<title>Stationary Items</title>
<h1>Stationary Items</h1>

{% block content %}
<form action="/item/" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="insert" value="insert">Insert</button>
</form>

<table>
    <tr>
        <th>Item name</th>
        <th>Store name</th>
    </tr>
    {% for item in item_list %}
    <tr>
        <td>{{ item.name }} </td>
        <td>{{ item.store__name }} </td>
        <form action="/item/{{ item.id }}", method="post">
            {% csrf_token %}
            <td><button type="submit" name="delete" value="delete">Delete</button> </td>
        </form>
        <form action="/item/{{ item.id }}", method="post">
            {% csrf_token %}
            <td><button type="submit" name="edit" value="edit">Edit</button> </td>    
        </form>
    </tr>
    {% endfor %}    
</table>
{% endblock %}
