<title>Stationary Stores</title>
<h1>Stationary Stores</h1>

{% block content %}
<form action="/store/" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Create</button>
</form>

<table>
    <tr>
        <th>Store name</th>
    </tr>
    {% for store in store_list %}
    <tr>
        <td>{{ store.name }} </td>
        <td><a href="/store/{{ store.id }}"><button type="button">Delete</button> </a> </td>
        <td><a href="/store/{{ store.id }}"><button type="button">Update</button> </a> </td>
    </tr>
    {% endfor %}    
</table>
{% endblock %}
